body
{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(school.jpg);
    
}

.navbar-nav
{
    margin-left: 32%;
    font-size: 17px;
}

#principal
{
    color: white;
}

hr{ width: 75%;}

.teachers
{
    color: white;
    text-align: center;
}